.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: rgb(245, 245, 245);
    text-decoration: none; /* избавление от подчеркивания */
}

.item a.activeLink {
    /* active a в profile Navbar.jsx */
    color: gold;
}
